---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import HorizontalSeparator from "../components/HorizontalSeparator.astro";
import BlogCard from "../components/BlogCard.astro";

const posts = await getCollection("blog");
---

<Layout title="Blog">
  <Section>
    <h1>Blog</h1>
    {
      posts.map((blog) => (
          <BlogCard blog={blog}/>
          <HorizontalSeparator/>
      ))
    }
  </Section>
</Layout>
<style>

  .card {
    overflow: hidden;
    display: flex;
    gap: 40px;

    h3{
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .description {
      margin-bottom: 40px;
    }

    img {
      height: 200px;
      width: 200px;
      object-fit: cover;
    }

    .button-container {
      display: flex;
      gap: 10px;
      margin-top: 10px;
    }
    
    
    @media (max-width: 800px) {
      & {
        flex-direction: column;
      }

      img {
        align-self: center;
      }
    }

    @media (max-width: 600px) {
      .button-container {
        flex-direction: column;
        gap: 10px;
      }
    }
  }
</style>
